<div class="  jumbotron">
  <h1 class="display-4 text-center">QrCode for Wifi Connection</h1>
  <p class="lead text-center ">The easiest way for a user to connect to a Wifi password</p>
  
  <div class="d-flex justify-content-center mt-5  ">
    <button (click)="scrollpx($event)" style="font-size: 1.25rem;padding: .5rem 1rem;width:200px" type="button" class="btn btn-primary">Get started</button>
  </div>
  </div>
  
<!--   
  <div class="container" class="d-flex justify-content-center mt-5">    
    <div class="text-center">           
        <div class="col-lg-6">
          <h2>Password show / hide click</h2> 
          <div class="input-group">
            <input type="password"  class="form-control pwd" value="iamapassword">
            <span class="input-group-btn">
              <button (click)="revealpassword()" class="btn btn-default reveal" type="button"><i   class="fa fa-eye-slash" aria-hidden="true"></i></button>
            </span>          
          </div>
        </div>
    </div>  
  </div> -->
<div id="buttonhelper" style="height: 50px;"></div>
  <form    style="width: 500px; margin:0 auto;">
    <div class="form-group"  >
      <label for="exampleInput">Wifi Name(SSID)</label>
        <input  (input)="addssid($event)" type="text" placeholder="Type your wifi name verbatim" id="exampleInput" class="form-control " required > 
    </div>
    <div class="form-group"  >
      <label for="exampleInputPassword1">Wifi Password</label>
      <div style="position: relative;">
        <input (input)="addpassword($event)" type="password" id="exampleInputPassword1" class="form-control pwd"  required>
        <span style="position: absolute;top:50%;right:1px;transform: translate(-1px,-50%);" class="input-group-btn">
          <button (click)="revealpassword()" class="btn btn-default reveal" type="button"><i id="eye"   class="fa fa-eye-slash" aria-hidden="true"></i></button>
        </span>    
      </div>
      <label class="mt-3" for="selectmethod">Authentication Type(WPA/WPA2/WEP)</label>
      <select (input)="addencryption($event)"  id="selectmethod"class="custom-select ">
        <option value="WPA" selected>WPA/WPA2</option>
        <option value="WEP">WEP</option>

      </select>
      
    </div>

  
    <button type="submit" (click)="preventRefresh($event)" class="btn btn-primary">Submit</button>
    <button type="submit" style="width: 120px;margin-left: 12px;"  (click)="generatepdf($event)" id="generatepdf" class="btn btn-primary">Print Qrcode</button>
  </form>
 
  <div  style="height:400px;" class="d-flex flex-column justify-content-center mt-5 "> 
     <canvas style="margin: 0 auto;" id="canvas"></canvas>
    
    </div>
   

  <div class="jumbotron mb-0 " style="background-color: #0069d9;color:white;">
    <h1 class="display-4 text-center">Instructions</h1>
    <ol>
      <li class="text-center mr-5 mt-5" style="font-size: 20px;">Write your wifi name exactly as it is (verbatim)</li>
      <li class="text-center mr-5 mt-3" style="font-size: 20px;">Type your wifi password</li>
      <li class="text-center mr-5 mt-3 " style="font-size: 20px;">Select your wifi encryption (usually it's WPA2)</li>
    </ol>
    </div>
    

